### Joining Data With Pandas

#### Data Merging Basics

In [ ]:
# Import csv
df = pd.read_csv('table.csv')

1. **Joining Data**

In [ ]:
# Inner Join

# Inner join two DataFrames on a column named 'column_name'
result = df1.merge(df2, on='column_name', how='inner')

print(result.head(4))

In [ ]:
# Show the shape of table
print(result.shape)

In [ ]:
# Show columns

print(result.columns)

In [ ]:
# Suffixes
result = df1.merge(df2, on='column_name', how='inner', suffixes=('_left', '_right'))
print(result.head())
print(result.shape)

2. **One to Many Relationships**

In [ ]:
# One-to-many join: df1 has unique 'id', df2 has multiple rows per 'id'
result = df1.merge(df2, on='id', suffixes=('_left', '_right'),how='inner')

In [ ]:
# Syntax for merging two DataFrames in pandas
merged_df = df1.merge(df2, on='column_name', how='inner')

In [ ]:
# Merge two DataFrames on multiple columns
merged_df = df1.merge(df2, on=['column1', 'column2'])

In [ ]:
merged_df = df1.merge(df2, on=['column1', 'column2']) \
               .merge(df3, on='column3', suffixes=('_df2', '_df3'))

In [ ]:
# Merge up to 3 table
three_table = df1.merge(df2, on='col') \
                 .merge(df3, on='col')

In [ ]:
# Merge up to 4 table
four_table = df1.merge(df2, on='col') \
                 .merge(df3, on='col') \
                 .merge(df4, on='col')